

:root {
	--primary-font: 'Arial Narrow', 'Arial', sans-serif;
	--text-color: #3d342b;
	--menu-color: #4c00fd;
	--highlight-color: #fb7aff;
	--white-color: #f1ebd9;
	font-family: var(--primary-font);
	color: var(--text-color);
	font-size: 24px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background-color: var(--white-color);
}

html,
body {
	padding: 0;
	touch-action: manipulation;
}

body {
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
}
h1 {
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	background-color: var(--highlight-color);
}

form {
	background-color: white;
	width: 50vw;
	margin: 0 auto;
	cursor: default;
	margin-bottom: 5%;
}

.input--text {
	display: flex;
	flex-direction: column;
	margin: 1rem  0;
}

input[type="text"], input[type="email"] {
	border: 0.5px solid grey;
	outline: 0.5px solid grey;
	height: 1rem;
}

input[type="text"]:focus, input[type="email"]:focus  {
	border: 1px solid var(--highlight-color);
	outline: 1px solid var(--highlight-color);
}

.input--text:first-of-type {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 0.5rem;
}

.input--text:first-of-type span{
	display: flex;
	flex-direction: column;
}

.input--text label ul {
	font-size: 0.65rem;
	font-family: 'Arial', sans-serif;
		margin: 0;
		padding-left: 0;
		color: grey;
}

.input--text label ul li {
	list-style: none;
padding-left: 4px;
margin: 0.125rem 0;
}

.input--radio {
	margin: 1rem 0;
	display: grid;
}

.input--radio p, .input--text label {
	color: var(--highlight-color);
}

.input--radio p, .input--check p, .input--textarea p, .input--text input {
	margin: 0.25rem 0;
}

.input--radio label, .input--check label {
margin-right: 2rem;
}

button {
	width: 100%;
	font-family: var(--primary-font);
	border-radius: 0;
background: white;
	font-size: 1rem;
	border: 1px solid var(--highlight-color);
	color: var(--highlight-color);
	margin: 2rem 0;
}

button:hover {
	background: var(--highlight-color);
	color: white;
}


a {
	cursor: crosshair;
	text-decoration: underline;
	text-underline-offset: 6px;
}

a:hover {
	text-decoration: none;
	background-color: var(--highlight-color);
	text-decoration: underline;
	text-underline-offset: 4px;
}

em {
	font-family: var(--sans-serif-font);
	font-size: 0.85rem;
	font-weight: bold;
}

main {
	position: fixed;
	padding: 0 1rem;
	line-height: 2rem;
	font-size: 1.85rem;
	cursor: default;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* Breakpoint */

@media (max-width: 990px) {
.horizontal--scroll {
	touch-action: pan-x;
}
}

@media (max-width: 680px) {
	nav {
		justify-content: space-between;
	}
	nav a,
	nav span {
		margin-right: 0px;
	}
	.img--wrapper {
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		transform: translateX(-5rem);
	}
	

	.img--wrapper img:hover {
		filter: blur(8px);
		-webkit-filter: blur(8px);
		-moz-filter: blur(8px);
	}

	

	main {
		line-height: 1rem;
	}
	.bio p,
.bio a {

	font-size: 1.25rem;
	
}
}

@media (max-width: 460px) {
	body {
		width: 100vw;
	}

	main {
		width: inherit;
		margin: 0 auto;
		padding: 0;
	}

}
